@page "/battle"

@using EtrianOdysseyClone.Data
@using EtrianOdysseyClone.Data.Characters
@using EtrianOdysseyClone.Data.Enemies
@using EtrianOdysseyClone.Data.Skills 
@using EtrianOdysseyClone.Data.Config
@using Microsoft.Extensions.Options

@inject IOptionsSnapshot<CharacterConfigSection> CharacterConfig

<div class="bg-rocks h-screen">
    <!-- Battle information -->
    <div class="w-full bg-blue-500 p-2 opacity-90">
        <label class="text-gray-100 pl-1 text-lg">@Text</label>
    </div>

    <div class="flex p-2">
        <!-- Menu -->
        <div class="grid gap-1 bg-yellow-100 p-1 rounded">
            <button @onclick="AttackClicked" type="button" class="bg-blue-600 hover:bg-blue-800 text-blue-50 font-semibold text-xl px-2">Attack</button>
            <button @onclick="SkillClicked" type="button" class="bg-blue-600 hover:bg-blue-800 text-blue-50 font-semibold text-xl px-2">Skill</button>
            <button @onclick="DefendClicked" type="button" class="bg-blue-600 hover:bg-blue-800 text-blue-50 font-semibold text-xl px-2">Defend</button>
            <button @onclick="ItemClicked" type="button" class="bg-blue-600 hover:bg-blue-800 text-blue-50 font-semibold text-xl px-2">Item</button>
            <button @onclick="RunClicked" type="button" class="bg-blue-600 hover:bg-blue-800 text-blue-50 font-semibold text-xl px-2">Run</button>
        </div>


        <!-- Image View -->
        <div class="relative w-full h-64">
            <!-- Enemy lines -->
            <div class="pl-2 grid grid-cols-3 grid-rows-2">
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.BACK_0))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.BACK_0) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.BACK_0).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.BACK_0).ActualHP/@Enemies.GetAtPosition(FormationPosition.BACK_0).BaseHP</label>
                        </div>
                    }
                </button>
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.BACK_1))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.BACK_1) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.BACK_1).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.BACK_1).ActualHP/@Enemies.GetAtPosition(FormationPosition.BACK_1).BaseHP</label>
                        </div>
                    }
                </button>
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.BACK_2))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.BACK_2) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.BACK_2).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.BACK_2).ActualHP/@Enemies.GetAtPosition(FormationPosition.BACK_2).BaseHP</label>
                        </div>
                    }
                </button>
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.FRONT_0))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.FRONT_0) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.FRONT_0).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.FRONT_0).ActualHP/@Enemies.GetAtPosition(FormationPosition.FRONT_0).BaseHP</label>
                        </div>
                    }
                </button>
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.FRONT_1))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.FRONT_1) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.FRONT_1).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.FRONT_1).ActualHP/@Enemies.GetAtPosition(FormationPosition.FRONT_1).BaseHP</label>
                        </div>
                    }
                </button>
                <button @onclick="() => EnemyClicked(Enemies.GetAtPosition(FormationPosition.FRONT_2))" type="button" class="relative h-32 place-self-center">
                    @if (Enemies.GetAtPosition(FormationPosition.FRONT_2) is not null)
                    {
                        <img class="h-32 @EnemySelectable()" src=@Enemies.GetAtPosition(FormationPosition.FRONT_2).ImagePath />
                        <div class="absolute inset-x-0 bottom-0 bg-white opacity-80">
                            <label>HP</label>
                            <label class="font-semibold">@Enemies.GetAtPosition(FormationPosition.FRONT_2).ActualHP/@Enemies.GetAtPosition(FormationPosition.FRONT_2).BaseHP</label>
                        </div>
                    }
                </button>
            </div>

            <!-- Character Profile -->
            @if (ShowPortrait)
            {
                <div class="absolute right-0 inset-y-0">
                    <img class="h-64" src=@SelectedMember.ImagePath />
                </div>
            }

            <!-- Skills menu -->
            @if (SkillMenuOpen)
            {
                <div class="absolute inset-y-0 left-3 bg-blue-600 opacity-90 rounded border-2 border-yellow-100">
                    <div class="flex flex-col gap-1 p-2">
                        @foreach (var skill in SkillMenuSkills)
                        {
                            <button @onclick="() => SkillSelected(skill)" type="button" class="bg-blue-50 px-2">
                                <div class="flex justify-between">
                                    <label class="text-blue-900 font-semibold">@skill.Name</label>
                                    <label class="pl-2">@skill.TpCost</label>
                                </div>
                            </button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Party Info -->
    <div class="grid grid-cols-3 grid-rows-2 gap-1 px-2">
        @for (int i = 0; i < 6; i++)
        {
        <div class="@HighlightPartyMember(i)">
            <div class="bg-blue-700 rounded  flex flex-col justify-between">
                @if (Party.GetAtPosition((FormationPosition)i) != null)
                {
                    <div class="flex justify-between">
                        <div class="text-blue-50 font-bold pl-2 lg:pl-5 text-lg">@Party.GetAtPosition((FormationPosition)i).Name</div>
                        <div class="flex">
                            <div class="text-blue-200 pr-2">Lv</div>
                            <div class="font-semibold text-blue-50 pr-2">@Party.GetAtPosition((FormationPosition)i).Level</div>
                        </div>
                    </div>
                    <div class="flex justify-between bg-black rounded-b">
                        <div class="flex">
                            <div class="pl-2 text-blue-200">HP</div>
                            <div class="pl-2 text-blue-50 font-semibold">@Party.GetAtPosition((FormationPosition)i).ActualHP/@Party.GetAtPosition((FormationPosition)i).BaseHP</div>
                        </div>
                        <div class="flex">
                            <div class="pr-2 text-blue-200">TP</div>
                            <div class="pr-2 text-blue-50 font-semibold">@Party.GetAtPosition((FormationPosition)i).ActualTP/@Party.GetAtPosition((FormationPosition)i).BaseTP</div>
                        </div>
                    </div>
                }
            </div>
        </div>
        }
    </div>
</div>

@code {
    private Random _random;
    private bool _shouldAdvance;

    public Party Party { get; private set; } // Get this from GameSession when we actually implement this
    public Horde Enemies { get; private set; } // This should be randomly generated to include floor appropriate enemies

    public List<BattleAction> BattleActions { get; private set; }

    public string Text { get; private set; }
    public bool SkillMenuOpen { get; private set; }
    public bool ShowPortrait { get; private set; }
    public PartyMember SelectedMember
    {
        get
        {
            return Party.AllMembers[(int)CurrentPartyPosition];
        }
    }
    public FormationPosition CurrentPartyPosition { get; private set; }
    public List<ISkill> SkillMenuSkills { get; private set; }

    protected override void OnInitialized()
    {
        _random = new Random();
        _shouldAdvance = false;

        var configs = CharacterConfig.Value;

        Text = "A horde of enemies has appeared!";

        Party = new Party();
        Party.AddPartyMember(new Braven(0), FormationPosition.FRONT_0);
        Party.AddPartyMember(new Brian(1), FormationPosition.FRONT_1);

        Enemies = new Horde();
        Enemies.AddEnemy(new FatChicken(0), FormationPosition.FRONT_0);
        Enemies.AddEnemy(new FatChicken(1), FormationPosition.FRONT_1);

        SkillMenuSkills = new List<ISkill>();
        BattleActions = new List<BattleAction>();

        SkillMenuOpen = false;
        CurrentPartyPosition = FormationPosition.FRONT_0;
        ShowPortrait = true;

        base.OnInitialized();
    }

    public void AttackClicked()
    {
        // TODO: Have user click on enemy to attack
        ShowPortrait = false;
        Text = "Select an enemy to attack";
    }
    public void SkillClicked()
    {
        // Have user choose a skill
        SkillMenuSkills.Clear();
        if (SelectedMember.Job.Skills != null)
            foreach (ISkill skill in SelectedMember.Job.Skills)
                SkillMenuSkills.Add(skill);
        SkillMenuOpen = true;

    }
    public async void DefendClicked()
    {
        // Add a defense buff to party member
        BattleActions.Add(new BattleAction()
        {
            ActionSpeed = 0,
            ActualAction = () =>
            {
                SelectedMember.Buffs.Add(new Buff()
                {
                    DefenseModifier = 5
                });
            },
            ActionInformation = $"{SelectedMember.Name} is defending"
        });

        await AdvanceTurn();
    }
    public void ItemClicked()
    {
        // TODO: Pull up an item menu
    }
    public void RunClicked()
    {
        // TODO: Handle run/escape logic
    }

    public async void EnemyClicked(Enemy targetEnemy)
    {
        // Ignore enemy clicks unless we're selecting them
        if (ShowPortrait)
            return;

        // TODO: Set target enemy for party member and continue
        BattleActions.Add(new BattleAction()
        {
            ActionSpeed = SelectedMember.ActualSpeed,
            ActualAction = () =>
            {
                int damage = SelectedMember.ActualStrength - targetEnemy.ActualDefense;
                if (damage > 0)
                {
                    targetEnemy.ActualHP -= damage;
                }
            },
            ActionInformation = $"{SelectedMember.Name} attacks {targetEnemy.Name}"
        });

        await AdvanceTurn();
    }
    public async void SkillSelected(ISkill skill)
    {
        // TODO: Pick target for skill depending on skill type

        BattleActions.Add(new BattleAction()
        {
            ActionSpeed = SelectedMember.ActualSpeed,
            ActualAction = () =>
            {
                //skill.ExecuteSkill(Party.Members[CurrentMemberIdx], )
            },
            ActionInformation = $"{SelectedMember.Name} uses {skill.Name}"
        });

        await AdvanceTurn();
    }

    private async Task BattleSequence()
    {
        // Sort battle actions by speed
        BattleActions.Sort((BattleAction a, BattleAction b) =>
        {
            return a.ActionSpeed.CompareTo(b.ActionSpeed) * -1; // -1 reverses list order
        });

        // Go through actions
        foreach(BattleAction bAction in BattleActions)
        {
            Text = bAction.ActionInformation;
            bAction.ActualAction();
            StateHasChanged();

            // TODO: Wait for advance action
            await Task.Delay(1500);
        }

        // Clear all battle actions
        BattleActions.Clear();
    }

    private string HighlightPartyMember(int idx)
    {
        if (Party.AllMembers[idx] != null && Party.AllMembers[idx] == SelectedMember)
            return "bg-yellow-300 rounded p-1";
        else
            return "p-1";
    }
    private int EnemyLineIdx(int idx)
    {
        return (idx + 3) % 6;
    }
    private string GetLinePositionName(int idx)
    {
        return ((FormationPosition)EnemyLineIdx(idx)).ToString();
    }
    private string EnemySelectable()
    {
        if (ShowPortrait)
            return "";
        else
            return "hover:bg-yellow-300 rounded";
    }

    private async Task AdvanceTurn()
    {
        // Execute battle sequence
        if (CurrentPartyPosition == Party.FinalPosition)
        {
            ShowPortrait = false;
            SkillMenuOpen = false;

            // TODO: Confirm before battle sequence

            // Add enemy actions
            for (int i = 0; i < 6; i++)
            {
                int i2 = i;
                if (Enemies.AllEnemies[i2] == null)
                    continue;

                int randomPartyIdx = _random.Next() % Party.Count;
                BattleActions.Add(new BattleAction()
                {
                    ActionSpeed = Enemies.AllEnemies[i2].ActualSpeed,
                    ActualAction = () =>
                    {
                        int damage = Enemies.AllEnemies[i2].ActualStrength - Party.GetAtRelativePosition(randomPartyIdx).ActualDefense;
                        if (damage > 0)
                            Party.GetAtRelativePosition(randomPartyIdx).ActualHP -= damage;
                    },
                    ActionInformation = $"{Enemies.AllEnemies[i2].Name} attacks {Party.GetAtRelativePosition(randomPartyIdx).Name}"
                });
            }

            await BattleSequence();

            AdvancePartyPosition();
            ShowPortrait = true;
            Text = "A horde of enemies has appeared";
            StateHasChanged();
        }
        else
        {
            Text = "A horde of enemies has appeared";
            ShowPortrait = true;
            SkillMenuOpen = false;
            AdvancePartyPosition();
        }
    }
    private void AdvancePartyPosition()
    {
        int nextPosition = (int)CurrentPartyPosition;

        do
        {
            nextPosition++;
            if (nextPosition > 5)
                nextPosition = 0;
        }
        while (Party.AllMembers[nextPosition] == null);

        CurrentPartyPosition = (FormationPosition)nextPosition;
    }
    private void AdvanceBattle()
    {
    }
}
